body{
    margin: 0;
    padding: 0;  
}
.sec-1{
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
}
nav{
    display: flex;
    margin: 20px;
    gap: 30px; 
}
.sec-2{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-top:100px ;
    margin-right:200px;
}
.sec-3{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}
.sec-5{
    display: flex;
    justify-content: space-between;
}
.box1{
    width: 150px;
    height: 150px; 
    border: 2px solid black;
    display: inline-block; 
    background-color: burlywood;
}
.box2{
    width: 150px;
    height: 150px; 
    border: 2px solid black;
    display: inline-block;
    background-color:burlywood ;
}
.box3{
    width: 150px;
    height: 150px; 
    border: 2px solid black;
    display: inline-block; 
    background-color:burlywood ;
}
.box4{
    width: 150px;
    height: 150px; 
    border: 2px solid black;
    display: inline-block; 
    background-color:burlywood ;
}
.sec-4{
    display: flex;
    margin: 30px;
    justify-content: center;
}
.box5{
    width: 150px;
    height: 150px; 
    border: 2px solid black;
    display: inline-block; 
    background-color: darkslategray;
}
.box6{
    width: 150px;
    height: 150px; 
    border: 2px solid black;
    display: block; 
}
form{
    display: grid;
    gap: 5px;
}
.box{
    display:block;
    margin: 30px;
}
#form .input{
    line-height: 25px;
}
